@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/colors.scss' as *;

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-icon {
    position: absolute;
    float: left;

}

.dialog {
    position: fixed;
    top: 15%;
    background-color: #f0f0f0;
    // left: 10%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    margin: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dialog-heading-div {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.project-title {
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 1.1;
    background-clip: text;
    color: transparent;
    margin: auto;
    @extend .bg-link-color;

    @include media(mobile) {
        font-size: 1rem;
    }
}

.project-subtext {
    text-align: center;
    font-size: 0.7rem;
    margin: 5px;
}

.project {
    margin: auto;
}

.project-subtitle {
    color: rgba(255, 255, 255, .8);
}

.project-desc {
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    color: #fff;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 1.125rem 1.25rem;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media(mobile) {
        padding: 0.9rem 0.85rem;
        font-size: 0.8rem;
        grid-template-columns: 1fr;
        margin: auto;
    }

    .website {
        color: $font-blue-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .img-container {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: contain;
        border-radius: 0.5rem;
    }

    .table-container {
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 12px;
        margin-top: 20px;
        table-layout: fixed;

        @include media(mobile) {
            width: 100%;
        }
    }

    td,
    th {
        padding: 8px;
        border: 0.5px solid #ccc;
        text-align: left;
        word-wrap: break-word;

        @include media(mobile) {
            padding: 3px;
        }
    }
}

.lists-container {
    display: flex;
    justify-content: space-between;
}

.list {
    width: 45%;

    @include media(mobile) {
        width: 100%;
    }
}