@use 'variables' as *;

// *********** Background classes *********** //

%bg-primary-color {
    background-color: $bg-primary-color;
}

.bg-primary-color {
    @extend %bg-primary-color;
}

%bg-secondary-color {
    background-color: $bg-secondary-color;
}

.bg-secondary-color {
    @extend %bg-secondary-color;
}

%bg-link-color {
    background-image: $bg-gradient-color;
}

.bg-link-color {
    @extend %bg-link-color;
}

// *********** Font color classes *********** //

%font-primary-color {
    color: $font-primary-color;
}

.font-primary-color {
    @extend %font-primary-color;
}