@import '../styles/variables.scss';

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);
}

.loader-right-container {
    transform: none !important;
}

$len: 242.776657104492px;
$time: 1.3s;

#outline {
    stroke-dasharray: $len * 0.01, $len;
    stroke-dashoffset: 0;
    animation: anim $time linear infinite;
}

@keyframes anim {
    12.5% {
        stroke-dasharray: $len * 0.14, $len;
        stroke-dashoffset: -$len * 0.11;
    }
    43.75% {
        stroke-dasharray: $len * 0.35, $len;
        stroke-dashoffset: -$len * 0.35;
    }
    100% {
        stroke-dasharray: $len * 0.01, $len;
        stroke-dashoffset: -$len * 0.99;
    }
}
