@use 'variables' as *;

@mixin font(
    $font-family,
    $font-size,
    $font-weight,
    $letter-spacing,
    $line-height: normal
) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

//* T1
@mixin inter-60-regular {
    @include font(
        $font-family-inter,
        $font-size-3xl,
        $font-weight-regular,
        $font-letter-spacing,
        70px
    );
}

//* T2
@mixin inter-52-bold {
    @include font(
        $font-family-inter,
        $font-size-2xl,
        $font-weight-bold,
        $font-letter-spacing,
        64px
    );
}

//* T3
@mixin inter-48-bold {
    @include font(
        $font-family-inter,
        $font-size-xl,
        $font-weight-bold,
        $font-letter-spacing,
        56px
    );
}

//* T4
@mixin inter-32-bold {
    @include font(
        $font-family-inter,
        $font-size-lg,
        $font-weight-bold,
        $font-letter-spacing,
        40px
    );
}

//* T5
@mixin inter-24-bold {
    @include font(
        $font-family-inter,
        $font-size-3md,
        $font-weight-bold,
        $font-letter-spacing,
        28px
    );

    @include media(tablet, desktop) {
        @include font(
            $font-family-inter,
            $font-size-3md,
            $font-weight-bold,
            $font-letter-spacing,
            34px
        );
    }
}

//* T6
@mixin inter-18-regular {
    @include font(
        $font-family-inter,
        $font-size-md,
        $font-weight-regular,
        $font-letter-spacing,
        28px
    );

    @include media(tablet, desktop) {
        @include font(
            $font-family-inter,
            $font-size-md,
            $font-weight-regular,
            $font-letter-spacing,
            22px
        );
    }
}

//* T7
@mixin inter-16-bold {
    @include font(
        $font-family-inter,
        $font-size-sm,
        $font-weight-bold,
        $font-letter-spacing,
        24px
    );
}

//* T8
@mixin inter-16-regular {
    @include font(
        $font-family-inter,
        $font-size-sm,
        $font-weight-regular,
        $font-letter-spacing,
        20px
    );

    @include media(tablet, desktop) {
        @include font(
            $font-family-inter,
            $font-size-sm,
            $font-weight-regular,
            $font-letter-spacing,
            24px
        );
    }
}

//* T9
@mixin inter-14-bold {
    @include font(
        $font-family-inter,
        $font-size-xs,
        $font-weight-bold,
        $font-letter-spacing,
        22px
    );

    @include media(tablet, desktop) {
        @include font(
            $font-family-inter,
            $font-size-xs,
            $font-weight-bold,
            $font-letter-spacing,
            20px
        );
    }
}

//* T10
@mixin inter-14-regular {
    @include font(
        $font-family-inter,
        $font-size-xs,
        $font-weight-regular,
        $font-letter-spacing,
        20px
    );
}

//* T11
@mixin inter-13-regular {
    @include font(
        $font-family-inter,
        $font-size-2xs,
        $font-weight-regular,
        $font-letter-spacing,
        16px
    );

    @include media(tablet, desktop) {
        @include font(
            $font-family-inter,
            $font-size-2xs,
            $font-weight-regular,
            $font-letter-spacing,
            24px
        );
    }
}

//* T12
@mixin inter-12-bold {
    @include font(
        $font-family-inter,
        $font-size-3xs,
        $font-weight-bold,
        $font-letter-spacing,
        16px
    );
}

//* T13
@mixin inter-12-regular {
    @include font(
        $font-family-inter,
        $font-size-3xs,
        $font-weight-regular,
        $font-letter-spacing,
        16px
    );
}

//* T14
@mixin inter-11-regular {
    @include font(
        $font-family-inter,
        $font-size-4xs,
        $font-weight-regular,
        $font-letter-spacing,
        18px
    );
}

//* T15
@mixin inter-10-bold {
    @include font(
        $font-family-inter,
        $font-size-5xs,
        $font-weight-bold,
        $font-letter-spacing,
        20px
    );

    @include media(tablet, desktop) {
        @include font(
            $font-family-inter,
            $font-size-5xs,
            $font-weight-bold,
            $font-letter-spacing,
            18px
        );
    }
}

//* T16
@mixin inter-20-bold {
    @include font(
        $font-family-inter,
        $font-size-2md,
        $font-weight-bold,
        $font-letter-spacing,
        24px
    );
}

// Mobile fonts
@mixin inter-40-regular {
    @include font(
        $font-family-inter,
        $font-size-2lg,
        $font-weight-regular,
        $font-letter-spacing,
        48px
    );
}

@mixin inter-28-bold {
    @include font(
        $font-family-inter,
        $font-size-4md,
        $font-weight-bold,
        $font-letter-spacing,
        34px
    );
}

@mixin mobile {
    @media (max-width: ($grid-breakpoints-sm - 1)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: ($grid-breakpoints-md - 1)) and (min-width: $grid-breakpoints-sm) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$grid-breakpoints-md}) {
        @content;
    }
}

@mixin media($keys...) {
    @each $key in $keys {
        @if ($key == mobile) {
            @include mobile {
                @content;
            }
        } @else if ($key == tablet) {
            @include tablet {
                @content;
            }
        } @else if ($key == desktop) {
            @include desktop {
                @content;
            }
        }
    }
}
