@use 'variables' as *;

@mixin font($font-family,
    $font-size,
    $font-weight,
    $letter-spacing,
    $line-height: normal) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

@mixin mobile {
    @media (max-width: ($grid-breakpoints-sm - 1)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: ($grid-breakpoints-md - 1)) and (min-width: $grid-breakpoints-sm) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$grid-breakpoints-md}) {
        @content;
    }
}

@mixin media($keys...) {
    @each $key in $keys {
        @if ($key ==mobile) {
            @include mobile {
                @content;
            }
        }

        @else if ($key ==tablet) {
            @include tablet {
                @content;
            }
        }

        @else if ($key ==desktop) {
            @include desktop {
                @content;
            }
        }
    }
}