// * ######################
// * Color variables
// * #####################

//* Background colors
$bg-primary-color: #000000;
$bg-secondary-color: #242424;
$bg-gradient-color: linear-gradient(to right, #2cf8ff, #18ffb0);
$bg-border-color: #dfe1e7;

//* Font colors
$font-primary-color: #ffffff;
$font-blue-color: #2cf8ff;
$font-green-color: #18ffb0;

// * ######################
// * Font variables
// * #####################

//* Font family
$font-family-inter: Inter;

$grid-breakpoints-sm: 768px;
$grid-breakpoints-md: 1024px;
$grid-breakpoints-lg: 1200px;
$grid-breakpoints-xl: 1440px;