@use '/src/styles/mixins.scss' as *;
@use '/src/styles/variables.scss' as *;
@use '/src/styles/colors.scss' as *;

.header-root {
    flex-grow: 1;
    background-color: $bg-primary-color;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.app-bar {
    background-color: $bg-primary-color !important;
    padding: 20px 24px;
    height: 72px;
    box-shadow: 0 0 20px 5px rgba(60, 60, 60, 0.5) !important;

    @include media(mobile) {
        padding: 10px 24px;
    }
}

.header-toolbar {
    padding: 0 !important;
}

.profile-div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.profile-name {
    cursor: pointer;
}

.icon-size {
    align-items: center !important;
    margin: 5px 10px !important;
    width: 20px;
    height: 20px;

    @include media(tablet, desktop) {
        margin: 10px !important;
    }
}

.flex-div {
    display: flex;
    margin: auto 0px;
}

// Styles for the mobile devices
.mobile-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.home-header-gradient {
    z-index: 5;
    width: 20rem;
    height: 20rem;
    background-color: #2cf8ff;
    filter: blur(200px);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -8%;
    bottom: auto;
    left: -13%;
    right: auto;

    @include media(tablet) {
        width: 15rem;
    }
}

.home-header-right-gradient {
    z-index: 1;
    width: 15rem;
    height: 20rem;
    background-color: #2cf8ff;
    filter: blur(200px);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -8%;
    bottom: auto;
    right: -13%;
    left: auto;

    @include media(mobile) {
        width: 5rem;
        height: 40rem;
        top: 0%;
        filter: blur(100px);
    }

    @include media(tablet) {
        left: unset;
    }
}