@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;
@use '/src/styles/colors.scss' as *;

.heading {
    p {
        margin-top: 8px;
    }
}

.heroMain {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    position: relative;

    @include media(mobile) {
        gap: 3rem;
        flex-direction: column;
    }

    @include media(tablet) {
        gap: 5rem;
    }
}

.heroText {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    position: relative;
}

.sub-title {
    font-size: 1.3rem;
    @extend .font-primary-color;

    @include media(mobile) {
        font-size: 1rem;
    }
}

.profile-img {
    @include media(tablet) {
        margin-top: 40px;
    }
}

.title {
    margin-bottom: 6px;
    font-family: Space Grotesk, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    @extend .font-primary-color;

    @include media(mobile) {
        margin-top: 35px;
        font-size: 3rem;
    }

    @include media(tablet) {
        margin-top: 50px;
    }
}

.icons {
    display: flex;
    gap: 10px;

    .icon {
        &:hover {
            color: #2cf8ff;
        }
    }
}

.a-link {
    text-decoration: none;
}

.cv-btn {
    color: #ffffff !important;

    &:hover {
        color: #2cf8ff !important;
    }
}